//Основные цвета
$color-black: #000000;
$color-black-opacity-light: rgba($color-black, 0.05);
$color-black-opacity-light-2: rgba($color-black, 0.1);
$color-black-opacity-light-3: rgba($color-black, 0.2);
$color-black-opacity: rgba($color-black, 0.3);
$color-black-opacity-medium: rgba($color-black, 0.6);
$color-black-opacity-medium-2: rgba($color-black, 0.5);
$color-white: #ffffff;
$color-white-opacity-light: rgba($color-white, 0.1);
$color-white-opacity: rgba($color-white, 0.3);
$color-white-light: #F3F4F8;
$color-white-dark: #E1E3E9;
$color-white-dark-2: #E2E5F2;
$color-white-dark-3: #E2E5F1;
$color-white-dark-4: #D9D9D9;
$color-white-dark-5: #D6D9E6;
$color-grey-light: #F2F2F2;
$color-grey-light-2: #E6E8F1;
$color-grey-light-3: #CBCED9;
$color-grey-light-4: #AEB4CB;
$color-grey-light-5: #959BB2;
$color-grey-light-5: #AFB0B5;
$color-grey: #CCCCCC;
$color-grey-2: #B2B2B2;
$color-grey-3: #C2C4C9;
$color-grey-dark: #444444;
$color-grey-dark-opacity: rgba($color-grey-dark, 0.3);
$color-grey-dark-opacity-medium: rgba($color-grey-dark, 0.5);
$color-blue: #1D2E5B;
$color-blue-opacity-light: rgba($color-blue, 0.15);
$color-blue-opacity: rgba($color-blue, 0.3);
$color-blue-opacity-dark: rgba($color-blue, 0.7);
$color-blue-light-1: #EDEFF6;
$color-blue-light-2: #DFE3F0;
$color-blue-light-3: #D1D7E9;
$color-blue-light-4: #D4D9EB;
$color-blue-dark: #161C35;
$color-blue-dark-opacity: rgba($color-blue-dark, 0.3);
$color-blue-dark-opacity-light: rgba($color-blue-dark, 0.17);
$color-blue-dark-2: #192144;
$color-blue-dark-2-opacity-medium: rgba($color-blue-dark-2, 0.6);
$color-blue-dark-2-opacity-light: rgba($color-blue-dark-2, 0.3);
$color-blue-dark-3: #121936;
$color-blue-dark-4: #101D41;
$color-blue-dark-5: #132576;
$color-blue-dark-5-opacity: rgba($color-blue-dark-5, 0.7);
$color-blue-dark-5-opacity-light: rgba($color-blue-dark-5, 0.3);
$color-blue-dark-6: #182044;
$color-blue-dark-7: #141B3B;
$color-yellow: #FFD74B;
$color-yellow-opacity: rgba($color-yellow, 0.3);
$color-yellow-dark: #FFBD30;
$color-yellow-dark-opacity: rgba($color-yellow-dark, 0.3);
$color-red: #FF0000;
$color-red-2: #FF5C23;
$color-red-light: #F47E7E;
$color-red-light-2: #FFEFEF;
$color-orange: #FF8D30;
$color-orange-opacity: rgba($color-orange, 0.3);
$color-orange-light: #FFA530;
$color-orange-dark: #F26926;
$color-green: #81E31E;
$color-сoral: #F97676;
$gradient-white-to-blue: linear-gradient(to bottom, rgba($color-white, 0) 0%, $color-blue-light-1 100%);
$gradient-transparent-to-white: linear-gradient(to right, rgba($color-white, 0) 0%, $color-white 40%);

:root {
  /* Компонентные цвета */
  //Modal
  --color-mobal-background: #{$color-black-opacity-medium};

  //Buttons
  --color-button-text: #{$color-blue-dark};
  --color-button-active-text-opacity: #{$color-blue-dark-opacity};
  --color-button-background: #{$color-yellow};
  --color-button-background-hover: #{$color-yellow-dark};
  --color-button-primary: #{$color-blue-dark};
  --color-button-primary-active: #{$color-blue-dark-opacity};
  --color-button-primary-background: #{$color-orange};
  --color-button-primary-background-hover: #{$color-orange-dark};
  --color-button-secondary: #{$color-blue-dark};
  --color-button-secondary-active: #{$color-blue-dark-opacity};
  --color-button-secondary-background: #{$color-yellow-dark};
  --color-button-secondary-background-hover: #{$color-orange};

  --color-button-text-alternate: #{$color-blue};
  --color-button-text-alternate-active: #{$color-blue-opacity};
  --color-button-rectangle-outline-background: #{$color-yellow};
  --color-button-rectangle-outline-background-hover: #{$color-blue-dark-2};
  --color-button-rectangle-outline-box-shadow: #{$color-blue-dark-2};
  --color-button-rectangle-outline-text: #{$color-blue};
  --color-button-rectangle-outline-text-hover: #{$color-white};
  --color-button-rectangle-outline-text-active: #{$color-white-opacity};

  --color-button-light-background: #{$color-blue-light-2};
  --color-button-light-background-hover: #{$color-blue-light-3};
  --color-button-light-text: #{$color-blue-dark};
  --color-button-light-text-active: #{$color-blue-dark-opacity};

  --color-transport-button: #{$color-blue};
  --color-transport-button-hover: #{$color-blue-opacity-dark};
  --color-transport-button-active: #{$color-blue-opacity};
  --color-transport-button-off: #{$color-white-dark-4};
  --color-transport-button-off-hover: #{$color-grey-2};
  --color-transport-button-off-active: #{$color-blue-opacity-light};
  --color-transport-button-background: #{$color-white};
  --color-transport-button-background-active: #{$color-white-dark-3};
  --color-transport-button-background-active-off: #{$color-white-dark-3};
  --color-transport-button-box-shadow-hover: #{$color-blue-dark-opacity-light};

  --color-button-transparent: #{$color-black-opacity};
  --color-button-transparent-hover: #{$color-black-opacity-medium};
  --color-button-transparent-active: #{$color-black-opacity-light-2};

  --color-button-step: #{$color-blue};
  --color-button-back: #{$color-blue};
  --color-button-step-active: #{$color-blue-opacity};
  --color-button-back-hover: #{$color-blue-opacity-dark};
  --color-button-back-active: #{$color-blue-opacity};

  //Toggle
  --color-header-toggle: #{$color-white};
  --color-mobile-toggle: #{$color-grey};
  --color-scroll-toggle: #{$color-grey};

  //Contacts
  --color-contacts-text: #{$color-blue-dark-2};
  --color-contacts-text-hover: #{$color-yellow-dark};
  --color-contacts-text-active: #{$color-yellow-dark-opacity};
  --color-contact-wrapper: #{$color-yellow};
  --color-contact-wrapper-background: #{$color-blue-dark-3};
  --color-contact-wrapper-hover: #{$color-yellow-dark};
  --color-contact-wrapper-active: #{$color-yellow-dark-opacity};
  --color-contacts-alternate: #{$color-yellow};
  --color-contacts-alternate-hover: #{$color-yellow-dark};
  --color-contacts-alternate-active: #{$color-yellow-opacity};

  //Icons
  --color-mobile-menu-socials-icon: #{$color-blue-dark-2};
  --color-mobile-menu-socials-icon-hover: #{$color-blue-dark-2-opacity-medium};
  --color-mobile-menu-socials-icon-active: #{$color-blue-dark-2-opacity-light};
  --color-transport-icon: #{$color-blue};
  --color-transport-icon-off: #{$color-blue-opacity-light};
  --color-transport-wrapper-after-background: #{$color-blue-dark-4};
  --color-transport-wrapper-after-text: #{$color-white};
  --color-transport-wrapper-before-border: #{$color-blue-dark-4};

  //User-card
  --color-user-card-hover-shadow: #{$color-black-opacity-medium};
  --color-user-card-body-background: #{$color-white};
  --color-user-card-name: #{$color-blue};
  --color-user-card-name-offline-before: #{$color-сoral};
  --color-user-card-name-online-before: #{$color-green};
  --color-user-card-hashtags: #{$color-grey-dark};

  //Progress-bar
  --color-progress-bar-background: #{$color-black-opacity-medium};
  --color-progress-bar-stroke: #{$color-orange};
  --color-progress-bar-level-number: #{$color-white};
  --color-progress-bar-level-number-border: #{$color-white-opacity};
  --color-progress-bar-level-number-border-alternate: #{$color-grey-dark};
  --color-progress-bar-level-number-alternate: #{$color-blue-dark};
  --color-progress-bar-level-text: #{$color-white};
  --color-progress-bar-level-text-alternate: #{$color-grey-dark};

  //Input
  --color-input-background: #{$color-white};
  --color-input-background-hover: #{$color-blue-light-1};
  --color-input-background-focus-visible: #{$color-blue-dark-2};
  --color-input-text: #{$color-grey-dark};
  --color-input-text-focus-visible: #{$color-white};
  --color-input-box-shadow-focus-visible: #{$color-white};
  --color-input-caret-text: #{$color-grey-dark};
  --color-input-placeholder-text: #{$color-grey-dark-opacity};
  --color-input-placeholder-text-hover: #{$color-grey-dark-opacity-medium};
  --color-input-is-error-text: #{$color-red};

  --color-input-number: #{$color-blue};
  --color-input-number-focus: #{$color-blue};
  --color-input-number-button-svg: #{$color-grey};
  --color-input-number-button-svg-hover: #{$color-grey-light-5};
  --color-input-number-button-svg-focus: #{$color-blue-dark};

  //Header
  //Mobile Menu
  --color-mobile-menu-background: #{$color-white};
  --color-nav-link-text: #{$color-blue-dark-2};
  --color-nav-link-animation-text-before: #{$color-yellow-dark};
  --color-nav-link-text-active: #{$color-yellow-dark-opacity};
  //Scroll Menu
  --color-scroll-menu-background: #{$color-white};
  //Page Header
  --color-page-header-background: #{$color-blue-dark};
  --color-page-header-scrolled-background: #{$color-white};

  //Footer
  --color-footer-background: #{$color-white};

  --color-footer-social-icon-hover: #{$color-blue-dark-2};
  --color-footer-social-icon-active: #{$color-blue-dark-2-opacity-light};
  --color-footer-social-icon-background: #{$color-yellow};
  --color-footer-social-icon-background-hover: #{$color-yellow-dark};
  --color-footer-social-icon-background-active: #{$color-yellow-dark};

  --color-footer-footnote-border: #{$color-grey-light};
  --color-footer-footnote-logo: #{$color-blue-dark-2};
  --color-footer-footnote-text: #{$color-grey-dark};

  //Main
  //Main-section
  --color-main-section-background: #{$color-blue-dark};
  --color-main-section-heading-text: #{$color-white};
  --color-main-section-testimonial-background: #{$color-blue-dark};
  --color-main-section-testimonial-text: #{$color-white};
  --color-main-section-testimonial-author-text: #{$color-white};

  //Steps
  --color-steps-background: #{$color-blue-dark-2};
  --color-steps-item-background: #{$color-orange};
  --color-steps-item-2-background: #{$color-orange-light};
  --color-steps-item-3-background: #{$color-yellow-dark};
  --color-steps-item-4-background: #{$color-yellow};
  --color-steps-number: #{$color-white};
  --color-steps-text: #{$color-blue-dark};

  //About-section
  --color-about-section-background: #{$color-blue-dark-2};
  --color-about-section-heading: #{$color-orange};
  --color-about-section-description: #{$color-white};
  --color-about-section-text: #{$color-white};

  //Direction-section
  --color-direction-section-background: #{$color-blue-light-1};
  --color-direction-section-heading: #{$color-orange};
  --color-direction-section-description: #{$color-grey-dark};
  --color-tablet-direction-section-countries-before: #{$color-white-dark-2};

  --color-country-body-background: #{$color-white};
  --color-country-heading-text: #{$color-black};
  --color-country-subheading-text: #{$color-grey-dark-opacity};
  --color-country-users-text: #{$color-blue-dark-opacity};

  //Companions-section
  --color-companions-section-background: #{$color-blue-dark-2};
  --color-companions-section-heading: #{$color-orange};
  --color-companions-section-text: #{$color-white};
  --color-companions-section-subheading: #{$color-white};

  //Rate-section
  --color-rate-section-background: #{$color-grey-light-2};
  --color-rate-section-heading: #{$color-orange};
  --color-rate-section-item-border: #{$color-white-dark};
  --color-rate-section-item-before-text: #{$color-white};
  --color-rate-section-item-before-background-1: #{$color-orange};
  --color-rate-section-item-before-background-2: #{$color-yellow-dark};
  --color-rate-section-item-before-background-3: #{$color-yellow};
  --color-rate-section-name: #{$color-grey-dark};
  --color-rate-section-price: #{$color-grey-dark};
  --color-rate-section-button-text: #{$color-blue-dark-5};
  --color-rate-section-button-text-hover: #{$color-blue-dark-5-opacity};
  --color-rate-section-button-text-active: #{$color-blue-dark-5-opacity-light};

  //Business-rates
  --color-business-rates-background: #{$color-white};
  --color-business-rates-heading: #{$color-orange};
  --color-business-rates-item-border: #{$color-black-opacity-light};
  --color-business-rates-name: #{$color-grey-dark};
  --color-business-rates-price: #{$color-grey-dark};
  --color-business-rates-button-text: #{$color-blue};
  --color-business-rates-button-text-active: #{$color-blue-opacity};
  --color-business-rates-button-background: #{$color-white-light};
  --color-business-rates-button-background-hover: #{$color-blue-light-1};
  --color-business-rates-button-background-active: #{$color-blue-light-1};

  //Feedback-section
  --color-feedback-section-background: #{$color-blue-dark-2};
  --color-feedback-section-heading: #{$color-orange};
  --color-feedback-section-registration: #{$color-white};
  --color-feedback-section-link: #{$color-yellow};
  --color-feedback-section-link-hover: #{$color-orange};
  --color-feedback-section-link-active: #{$color-orange-opacity};
  --color-feedback-section-questions-text: #{$color-white};

  //Location-section
  --color-location-section-background: #{$color-yellow};
  --color-location-section-icon-background: #{$color-blue-dark-3};
  --color-location-section-icon: #{$color-yellow};
  --color-location-section-address-text: #{$color-blue};


  //Direction-page
  //Page-header
  --color-page-header-alternate-background: #{$color-blue-dark-6};

  //Heading-section
  --color-heading-section-background: #{$color-blue-dark-6};
  --color-heading-section-title: #{$color-white};
  --color-heading-section-title-before-background: #{$color-orange};

  //Profile-section
  --color-profile-section-background: #{$color-blue-light-1};
  --color-profile-section-tags-label: #{$color-blue};
  --color-profile-section-tags-label-background: #{$color-blue-light-1};
  --color-profile-section-tags-textarea: #{$color-grey-dark-opacity-medium};
  --color-profile-section-tags-textarea-active: #{$color-grey-dark};
  --color-profile-section-tags-textarea-background: #{$color-blue-light-1};
  --color-profile-section-tags-textarea-box-shadow: #{$color-grey-light-3};
  --color-profile-section-tags-textarea-box-shadow-hover: #{$color-grey-light-4};
  --color-profile-section-tags-textarea-box-shadow-active: #{$color-blue-dark};
  --color-profile-section-transport-heading: #{$color-blue};
  --color-profile-section-transport-heading-background: #{$color-blue-light-1};
  --color-profile-section-transport-box-shadow: #{$color-grey-light-3};

  //Plans-section
  --color-plans-section-background: #{$color-blue-light-2};
  --color-plans-section-header: #{$color-blue};
  --color-plans-section-item-background: #{$color-white};
  --color-plans-section-item-header: #{$color-blue};
  --color-plans-section-item-body: #{$color-blue};

  //Plan-section
  --color-plan-section-background: #{$color-blue-light-4};
  --color-plan-section-header: #{$color-blue};
  --color-plan-section-point-background: #{$color-blue-opacity};
  --color-plan-section-point-background-selected: #{$color-blue};
  --color-plan-section-step-background: #{$color-white};
  //Step
  --color-step-heading: #{$color-blue};
  --color-step-description: #{$color-grey-dark};
  --color-step-form-description: #{$color-blue};
  --color-step-form-label: #{$color-blue-opacity};
  --color-step-input-background: #{$color-white};
  --color-step-input-box-shadow: #{$color-grey-light-3};
  --color-step-input-box-shadow-hover: #{$color-grey-light-5};
  --color-step-input-box-shadow-focus: #{$color-blue-dark};
  --color-step-checkbox-input-background: #{$color-white};
  --color-step-checkbox-input-background-active: #{$color-white-dark-3};
  --color-step-checkbox-input-border: #{$color-grey-light-3};
  --color-step-checkbox-input-border-hover: #{$color-grey-light-5};
  --color-step-checkbox-icon: #{$color-blue-dark};
  --color-step-checkbox-icon-active: #{$color-blue-dark-opacity};
  --color-step-checkbox-label: #{$color-blue};
  --color-step-country-select-background: #{$color-white};
  --color-step-country-select-border: #{$color-grey-light-3};
  --color-step-country-select-border-hover: #{$color-grey-light-5};
  --color-step-country-select-add-background: #{$color-blue-light-1};
  --color-step-country-select-add-background-hover: #{$color-blue-light-2};
  --color-step-country-before-background: #{$color-white};
  --color-step-country-before-box-shadow: #{$color-grey-light-3};
  --color-step-country-before-active-background: #{$color-blue};
  --color-step-country-before-choose-background: #{$color-blue-light-1};
  --color-step-button-add-svg: #{$color-black-opacity-light-3};
  --color-step-button-add-svg-hover: #{$color-black-opacity};
  --color-step-button-add-svg-active: #{$color-black-opacity-light-2};
  --color-step-country-name: #{$color-blue};
  --color-step-button-dropdown-background: #{$gradient-transparent-to-white};
  --color-step-button-dropdown-svg: #{$color-black-opacity};
  --color-step-button-flag-background: #{$color-white};
  --color-step-button-flag-border: #{$color-grey-light-3};
  --color-step-button-close-background: #{$color-blue-light-1};
  --color-step-button-close-svg: #{$color-grey-light-5};
  --color-step-plans-title-after-background: #{$gradient-transparent-to-white};
  --color-step-plans-name: #{$color-blue};
  --color-step-plans-textarea: #{$color-grey-dark};
  --color-step-plans-textarea-border: #{$color-grey-light-3};
  --color-step-plans-textarea-border-hover: #{$color-grey-light-5};
  --color-step-plans-textarea-border-focus: #{$color-blue-dark};
  //Calendar
  --color-calendar-header-border: #{$color-white-dark-5};
  --color-calendar-month-year: #{$color-blue};
  --color-calendar-button: #{$color-black-opacity};
  --color-calendar-button-hover: #{$color-black-opacity-medium-2};
  --color-calendar-button-active: #{$color-black-opacity-light-2};
  --color-calendar-week-day: #{$color-grey-dark};
  --color-calendar-week-day-weekend: #{$color-red-2};
  --color-calendar-day: #{$color-blue};
  --color-calendar-day-hover: #{$color-white};
  --color-calendar-day-background: #{$color-blue-light-1};
  --color-calendar-day-background-hover: #{$color-blue};
  --color-calendar-day-border: #{$color-grey-light-3};
  --color-calendar-day-box-shadow-hover: #{$color-red-2};
  --color-calendar-day-disabled: #{$color-grey-dark-opacity};
  --color-calendar-day-disabled-background: #{$color-white};
  --color-calendar-day-chosen: #{$color-white};
  --color-calendar-day-chosen-background: #{$color-blue};
  //Dropdown-menu
  --color-dropdown-menu-background: #{$color-white};
  --color-dropdown-menu-box-shadow: #{$color-black-opacity-light-2};
  --color-dropdown-menu-header-background: #{$color-blue};
  --color-dropdown-menu-heading: #{$color-white};
  --color-dropdown-menu-button: #{$color-white-opacity};
  --color-dropdown-menu-button-hover: #{$color-white};
  --color-dropdown-menu-button-active: #{$color-white-opacity-light};
  --color-dropdown-menu-alphabet-border: #{$color-grey-light-3};
  --color-dropdown-menu-letter: #{$color-blue};
  --color-dropdown-menu-letter-focus: #{$color-white};
  --color-dropdown-menu-letter-background: #{$color-white};
  --color-dropdown-menu-letter-background-focus: #{$color-blue};
  --color-dropdown-menu-letter-border: #{$color-grey-light-3};
  --color-dropdown-menu-letter-border-hover: #{$color-grey-light-5};
  --color-dropdown-menu-grid-background: #{$color-white};
  --color-dropdown-menu-grid-border: #{$color-grey-light-3};
  --color-dropdown-menu-country: #{$color-grey-dark};
  --color-dropdown-menu-country-hover: #{$color-blue};
  --color-dropdown-menu-country-active: #{$color-blue-opacity};
}

@media (min-width: 768px) {
  :root {
    //Page Header
    --color-page-header-background: #{$color-blue-dark-6};

    //Main
    //Main-section
    --color-main-section-background: #{$color-blue-dark-6};

    //Steps
    --color-steps-background: #{$color-blue-dark-6};

    //About-section
    --color-about-section-background: #{$color-blue-dark-6};
    --color-about-section-before: #{$color-blue-dark-7};

    //Rate-section
    --color-rate-section-background: #{$color-blue-light-1};
    --color-rate-section-price-before-tablet: #{$color-white-dark-2};
    --color-rate-section-button-icon-background: #{$color-white-dark-2};
  }
}

@media (min-width: 1440px) {
  :root {

    //Progress-bar
    --color-progress-bar-level-number-border-alternate: #{$color-white-opacity};
    --color-progress-bar-level-number-alternate: #{$color-white};
    --color-progress-bar-level-text-alternate: #{$color-white};

    //Header
    --color-page-header-background: #{$color-blue-dark};
    --color-nav-list-before: #{$color-white};
    --color-nav-list-before-scrolled: #{$color-blue-dark-2};
    --color-nav-link-text: #{$color-white};
    --color-nav-link-text-scrolled: #{$color-blue-dark-2};

    //Main
    //Main-section
    --color-main-section-background: #{$color-blue-dark};

    //Steps
    --color-steps-background: #{$color-blue-dark-6};

    //About-section
    --color-about-section-background: #{$color-blue-dark-2};
    --color-about-section-before: #{$color-blue-dark-7};

    //Direction-section
    --color-tablet-direction-section-countries-after: #{$gradient-white-to-blue};

    //Rate-section
    --color-rate-section-background: #{$color-blue-light-1};
    --color-rate-section-price-before-tablet: #{$color-white-dark-2};
    --color-rate-section-button-icon-background: #{$color-white-dark-2};
  }
}
