//Основные цвета
$color-black: #000000;
$color-black-opacity-light: rgba($color-black, 0.05);
$color-black-opacity-medium: rgba($color-black, 0.6);
$color-white: #ffffff;
$color-white-light: #F3F4F8;
$color-white-dark: #E1E3E9;
$color-white-opacity: rgba($color-white, 0.3);
$color-grey-light: #F2F2F2;
$color-grey-light-2: #E6E8F1;
$color-grey: #CCCCCC;
$color-grey-dark: #444444;
$color-grey-dark-opacity: rgba($color-grey-dark, 0.3);
$color-grey-dark-opacity-medium: rgba($color-grey-dark, 0.5);
$color-blue: #1D2E5B;
$color-blue-opacity-light: rgba($color-blue, 0.15);
$color-blue-opacity: rgba($color-blue, 0.3);
$color-blue-light-1: #EDEFF6;
$color-blue-light-2: #DFE3F0;
$color-blue-dark: #161C35;
$color-blue-dark-opacity: rgba($color-blue-dark, 0.3);
$color-blue-dark-2: #192144;
$color-blue-dark-2-opacity-medium: rgba($color-blue-dark-2, 0.6);
$color-blue-dark-2-opacity-light: rgba($color-blue-dark-2, 0.3);
$color-blue-dark-3: #121936;
$color-blue-dark-4: #101D41;
$color-blue-dark-5: #132576;
$color-blue-dark-5-opacity: rgba($color-blue-dark-5, 0.7);
$color-blue-dark-5-opacity-light: rgba($color-blue-dark-5, 0.3);
$color-yellow: #FFD74B;
$color-yellow-opacity: rgba($color-yellow, 0.3);
$color-yellow-dark: #FFBD30;
$color-yellow-dark-opacity: rgba($color-yellow-dark, 0.3);
$color-red: #FF0000;
$color-red-light: #F47E7E;
$color-orange: #FF8D30;
$color-orange-opacity: rgba($color-orange, 0.3);
$color-orange-light: #FFA530;
$color-orange-dark: #F26926;
$color-green: #81E31E;
$color-сoral: #F97676;

:root {
  /* Компонентные цвета */
  //Modal
  --color-mobal-background: #{$color-black-opacity-medium};

  //Buttons
  --color-button-text: #{$color-blue-dark};
  --color-button-active-text-opacity: #{$color-blue-dark-opacity};
  --color-button-background: #{$color-yellow};
  --color-button-background-hover: #{$color-yellow-dark};
  --color-button-primary: #{$color-blue-dark};
  --color-button-primary-active: #{$color-blue-dark-opacity};
  --color-button-primary-background: #{$color-orange};
  --color-button-primary-background-hover: #{$color-orange-dark};
  --color-button-secondary: #{$color-blue-dark};
  --color-button-secondary-active: #{$color-blue-dark-opacity};
  --color-button-secondary-background: #{$color-yellow-dark};
  --color-button-secondary-background-hover: #{$color-orange};

  --color-button-text-alternate: #{$color-blue};
  --color-button-text-alternate-active: #{$color-blue-opacity};
  --color-button-rectangle-outline-background: #{$color-yellow};
  --color-button-rectangle-outline-background-hover: #{$color-blue-dark-2};
  --color-button-rectangle-outline-box-shadow: #{$color-blue-dark-2};
  --color-button-rectangle-outline-text: #{$color-blue};
  --color-button-rectangle-outline-text-hover: #{$color-white};
  --color-button-rectangle-outline-text-active: #{$color-white-opacity};

  //Toggle
  --color-header-toggle: #{$color-white};
  --color-mobile-toggle: #{$color-grey};
  --color-scroll-toggle: #{$color-grey};

  //Contacts
  --color-contacts-text: #{$color-blue-dark-2};
  --color-contacts-text-hover: #{$color-yellow-dark};
  --color-contacts-text-active: #{$color-yellow-dark-opacity};
  --color-contacts-icon: #{$color-yellow};
  --color-contacts-icon-background: #{$color-blue-dark-3};
  --color-contacts-icon-hover: #{$color-yellow-dark};
  --color-contacts-icon-active: #{$color-yellow-dark-opacity};
  --color-contacts-alternate: #{$color-yellow};
  --color-contacts-alternate-hover: #{$color-yellow-dark};
  --color-contacts-alternate-active: #{$color-yellow-opacity};

  //Icons
  --color-mobile-menu-socials-icon: #{$color-blue-dark-2};
  --color-mobile-menu-socials-icon-hover: #{$color-blue-dark-2-opacity-medium};
  --color-mobile-menu-socials-icon-active: #{$color-blue-dark-2-opacity-light};
  --color-transport-icon: #{$color-blue};
  --color-transport-icon-off: #{$color-blue-opacity-light};
  --color-transport-wrapper-after-background: #{$color-blue-dark-4};
  --color-transport-wrapper-after-text: #{$color-white};
  --color-transport-wrapper-before-border: #{$color-blue-dark-4};

  //User-card
  --color-user-card-hover-shadow: #{$color-black-opacity-medium};
  --color-user-card-body-background: #{$color-white};
  --color-user-card-name: #{$color-blue};
  --color-user-card-name-offline-before: #{$color-сoral};
  --color-user-card-name-online-before: #{$color-green};
  --color-user-card-hashtags: #{$color-grey-dark};

  //Progress-bar
  --color-progress-bar-background: #{$color-black-opacity-medium};
  --color-progress-bar-stroke: #{$color-orange};
  --color-progress-bar-level-number: #{$color-white};
  --color-progress-bar-level-number-border: #{$color-white-opacity};
  --color-progress-bar-level-text: #{$color-white};

  //Input
  --color-input-background: #{$color-white};
  --color-input-background-hover: #{$color-blue-light-1};
  --color-input-background-focus-visible: #{$color-blue-dark-2};
  --color-input-text: #{$color-grey-dark};
  --color-input-text-focus-visible: #{$color-white};
  --color-input-box-shadow-focus-visible: #{$color-white};
  --color-input-caret-text: #{$color-grey-dark};
  --color-input-placeholder-text: #{$color-grey-dark-opacity};
  --color-input-placeholder-text-hover: #{$color-grey-dark-opacity-medium};
  --color-input-is-error-text: #{$color-red};

  //Header
  //Mobile Menu
  --color-mobile-menu-background: #{$color-white};
  --color-mobile-menu-link-text: #{$color-blue-dark-2};
  --color-mobile-menu-link-animation-text-before: #{$color-yellow-dark};
  --color-mobile-menu-link-text-active: #{$color-yellow-dark-opacity};
  //Scroll Menu
  --color-scroll-menu-background: #{$color-white};
  //Page Header
  --color-page-header-background: #{$color-blue-dark};
  --color-page-header-scrolled-background: #{$color-white};

  //Footer
  --color-footer-background: #{$color-white};

  --color-footer-social-icon-hover: #{$color-blue-dark-2};
  --color-footer-social-icon-active: #{$color-blue-dark-2-opacity-light};
  --color-footer-social-icon-background: #{$color-yellow};
  --color-footer-social-icon-background-hover: #{$color-yellow-dark};
  --color-footer-social-icon-background-active: #{$color-yellow-dark};

  --color-footer-footnote-border: #{$color-grey-light};
  --color-footer-footnote-logo: #{$color-blue-dark-2};
  --color-footer-footnote-text: #{$color-grey-dark};

  //Main
  //Main-section
  --color-main-section-background: #{$color-blue-dark};
  --color-main-section-heading-text: #{$color-white};
  --color-main-section-testimonial-background: #{$color-blue-dark};
  --color-main-section-testimonial-text: #{$color-white};
  --color-main-section-testimonial-author-text: #{$color-white};

  //Steps
  --color-steps-background: #{$color-blue-dark-2};
  --color-steps-item-background: #{$color-orange};
  --color-steps-item-2-background: #{$color-orange-light};
  --color-steps-item-3-background: #{$color-yellow-dark};
  --color-steps-item-4-background: #{$color-yellow};
  --color-steps-number: #{$color-white};
  --color-steps-text: #{$color-blue-dark};

  //About-section
  --color-about-section-background: #{$color-blue-dark-2};
  --color-about-section-heading: #{$color-orange};
  --color-about-section-description: #{$color-white};
  --color-about-section-text: #{$color-white};

  //Direction-section
  --color-direction-section-background: #{$color-blue-light-1};
  --color-direction-section-heading: #{$color-orange};
  --color-direction-section-description: #{$color-grey-dark};

  --color-country-body-background: #{$color-white};
  --color-country-heading-text: #{$color-black};
  --color-country-subheading-text: #{$color-grey-dark-opacity};
  --color-country-users-text: #{$color-blue-dark-opacity};

  //Companions-section
  --color-companions-section-background: #{$color-blue-dark-2};
  --color-companions-section-heading: #{$color-orange};
  --color-companions-section-text: #{$color-white};
  --color-companions-section-subheading: #{$color-white};

  //Rate-section
  --color-rate-section-background: #{$color-grey-light-2};
  --color-rate-section-heading: #{$color-orange};
  --color-rate-section-item-border: #{$color-white-dark};
  --color-rate-section-item-before-text: #{$color-white};
  --color-rate-section-item-before-background-1: #{$color-orange};
  --color-rate-section-item-before-background-2: #{$color-yellow-dark};
  --color-rate-section-item-before-background-3: #{$color-yellow};
  --color-rate-section-name: #{$color-grey-dark};
  --color-rate-section-price: #{$color-grey-dark};
  --color-rate-section-button-text: #{$color-blue-dark-5};
  --color-rate-section-button-text-hover: #{$color-blue-dark-5-opacity};
  --color-rate-section-button-text-active: #{$color-blue-dark-5-opacity-light};

  //Business-rates
  --color-business-rates-background: #{$color-white};
  --color-business-rates-heading: #{$color-orange};
  --color-business-rates-item-border: #{$color-black-opacity-light};
  --color-business-rates-name: #{$color-grey-dark};
  --color-business-rates-price: #{$color-grey-dark};
  --color-business-rates-button-text: #{$color-blue};
  --color-business-rates-button-text-active: #{$color-blue-opacity};
  --color-business-rates-button-background: #{$color-white-light};
  --color-business-rates-button-background-hover: #{$color-blue-light-1};
  --color-business-rates-button-background-active: #{$color-blue-light-1};

  //Feedback-section
  --color-feedback-section-background: #{$color-blue-dark-2};
  --color-feedback-section-heading: #{$color-orange};
  --color-feedback-section-registration: #{$color-white};
  --color-feedback-section-link: #{$color-yellow};
  --color-feedback-section-link-hover: #{$color-orange};
  --color-feedback-section-link-active: #{$color-orange-opacity};
  --color-feedback-section-questions-text: #{$color-white};

  //Location-section
  --color-location-section-background: #{$color-yellow};
  --color-location-section-icon-background: #{$color-blue-dark-3};
  --color-location-section-icon: #{$color-yellow};
  --color-location-section-address-text: #{$color-blue};
}
