// colors.scss
$color-white: #ffffff;
$color-grey: #CCCCCC;
$color-grey-dark: #444444;
$color-blue-dark: #161C35;
$color-blue-dark-2: #192144;
$color-blue: #1D2E5B;
$color-blue-light-1: #EDEFF6;
$color-blue-light-2: #DFE3F0;
$color-yellow: #FFD74B;
$color-yellow-dark: #FFBD30;
$color-red: #F47E7E;
$color-orange: #FF8D30;
