@use "../../variables" as *;

.about-section__heading {
  font: var(--font-about-section-heading);
  color: var(--color-about-section-heading);
}

.about-section__description {
  font: var(--font-about-section-discription);
  line-height: 22px;
  color: var(--color-about-section-description);
}

.about-section__text {
  font: var(--font-about-section-text);
  line-height: 22px;
  color: var(--color-about-section-text);
}
