@use "../../variables" as *;

.companions-section__title {
  margin-bottom: 54px;
  padding-left: 24px;
  display: grid;
}

.companions-section__heading {
  margin-bottom: 19px;
  font: var(--font-companions-section-heading);
  color: var(--color-companions-section-heading);
}

.companions-section__text {
  margin-bottom: 25px;
  font: var(--font-companions-section-text);
  line-height: 22px;
  color: var(--color-companions-section-text);
}

.companions-section__subheading {
  font: var(--font-companions-section-subheading);
  line-height: 22px;
  color: var(--color-companions-section-subheading);
}
