@use "../variables" as *;

.profile-section {
  margin-top: var(--section-margin-top-negative);
  padding-top: 54px;
  padding-bottom: 64px;
  background-color: var(--color-profile-section-background);
}

.profile-section__wrapper {
  margin-bottom: 33px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 18px;
  column-gap: 35px;
}

.profile-section__progress {
  --profile-section-progress-size: 100px;
  margin-left: auto;
  width: var(--profile-section-progress-size);
  height: var(--profile-section-progress-size);
}

.profile-section__image {
  margin-right: auto;
}

.profile-section__image img {
  --profile-section-image-size: 100px;
  border-radius: 50%;
  width: var(--profile-section-image-size);
  height: var(--profile-section-image-size);
}

.profile-section__button {
  text-align: center;
  grid-row: 2;
  grid-column: 1 / 3;
}

.profile-section__tags {
  margin-bottom: 25px;
  position: relative;
}

.profile-section__tags-label {
  padding: 6px 17px;
  position: absolute;
  top: -15px;
  left: calc(100px + 50vw - 158px);
  font: var(--font-profile-section-tags-label);
  color: var(--color-profile-section-tags-label);
  background-color: var(--color-profile-section-tags-label-background);
}

.profile-section__tags-textarea {
  padding: 26px 28px 26px 25px;
  font: var(--font-profile-section-tags-textarea);
  color: var(--color-profile-section-tags-textarea);
  background-color: var(--color-profile-section-tags-textarea-background);
  box-shadow: inset 0 0 0 1px var(--color-profile-section-tags-textarea-box-shadow);
  border: none;
  outline: none;
  border-radius: $border-radius-large;
  width: 100%;
  transition: color $transition-duration, box-shadow $transition-duration;

  &:hover {
    box-shadow: inset 0 0 0 1px var(--color-profile-section-tags-textarea-box-shadow-hover);
  }

  &:focus {
    color: var(--color-profile-section-tags-textarea-active);
    box-shadow: inset 0 0 0 1px var(--color-profile-section-tags-textarea-box-shadow-active);
  }
}

.profile-section__transport {
  padding: 16px 71px 15px 71px;
  position: relative;
  border-radius: $border-radius-large;
  box-shadow: inset 0 0 0 1px var(--color-profile-section-transport-box-shadow);
}

.profile-section__transport-heading {
  padding: 6px 14px;
  position: absolute;
  top: -15px;
  left: calc(100px + 50vw - 178px);
  font: var(--font-profile-section-transport-heading);
  color: var(--color-profile-section-transport-heading);
  background-color: var(--color-profile-section-transport-heading-background);
}

.profile-section__transport-list {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-section__transport-item {
  position: relative;
  cursor: pointer;
}
