@use "../../variables" as *;

.business-rates {
  margin: -461px 25px 0 25px;
  padding-top: 34px;
  //display: none;
  position: absolute;
  width: calc(100vw - 50px);
  min-width: 270px;
  background-color: var(--color-business-rates-background);
  border-radius: $border-radius-xl;
  z-index: $z-index-sm;
  opacity: 0;
  transform: translateY(30px); // Стартовая позиция ниже
  visibility: hidden;
  transition: opacity $transition-duration ease, transform $transition-duration ease, visibility 0s $transition-duration;

  //position: absolute;
  //bottom: 18px;
  //left: calc(50% - 270px / 2);
  &.is-active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity $transition-duration ease, transform $transition-duration ease, visibility 0s;
  }
}

//.business-rates.is-visible {
//  display: block;
//  opacity: 1;
//  //transform: translateY(0);
//  //transition: opacity 0.4s ease, transform 0.4s ease;
//}
