@use "../variables" as *;

.about-section {
  border-radius: 0 0 $border-radius-3xl $border-radius-3xl;
  background-color: var(--color-about-section-background);
  background-image: url("../images/background/mobile-about-section-background.png");
  background-size: contain;
  //background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  z-index: $z-index-low-6;
}

.about-section__wrapper {
  padding: 33px 0 82px 24px;
  display: grid;
  gap: 20px;
}

.about-section__heading {
  font: var(--font-about-section-heading);
  color: var(--color-about-section-heading);
}

.about-section__description {
  font: var(--font-about-section-discription);
  line-height: 22px;
  color: var(--color-about-section-description);
}

.about-section__text {
  font: var(--font-about-section-text);
  line-height: 22px;
  color: var(--color-about-section-text);
}
