@use "../variables" as *;

.about-section {
  border-radius: 0 0 $border-radius-3xl $border-radius-3xl;
  background-color: var(--color-about-section-background);
  background-image: url("../images/background/mobile-about-section-background.png");
  background-size: contain;
  //background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  z-index: $z-index-low-6;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 $border-radius-tablet-3xl $border-radius-tablet-3xl;
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 40px;
      right: 40px;
      height: 100%;
      background: url("../images/background/tablet-about-section-background.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: $z-index-negative;
    }
  }
}

.about-section__wrapper {
  padding: 33px 0 82px 24px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 41px 10px 52px 34px;
    gap: 31px;
    grid-column: 1;
  }
}

.about-section__heading {
  font: var(--font-about-section-heading);
  color: var(--color-about-section-heading);

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }
}

.about-section__description {
  font: var(--font-about-section-discription);
  line-height: 22px;
  color: var(--color-about-section-description);

  @media (min-width: $tablet-width) {
    line-height: 33px;
  }
}

.about-section__text {
  font: var(--font-about-section-text);
  line-height: 22px;
  color: var(--color-about-section-text);

  @media (min-width: $tablet-width) {
    line-height: 25px;
  }
}

.about-section__paragraph {

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.direction-section__button {
  display: none;

  @media (min-width: $tablet-width) {
    margin: 0 34px 89px 34px;
    display: block;
    grid-column: 1;
  }
}

.about-section__image {
  display: none;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-right: -32px;
    display: block;
    grid-row: 1;
    grid-column: 2;
  }
}
