@use "../variables" as *;

.feedback-section {
  margin-top: var(--section-margin-top-negative);
  padding-top: 102px;
  padding-bottom: 29px;
  background-color: var(--color-feedback-section-background);
  border-radius: 0 0 $border-radius-3xl $border-radius-3xl;
  position: relative;
  z-index: $z-index-low-2;

  @media (min-width: $tablet-width) {
    padding-top: 136px;
    padding-bottom: 60px;
    border-radius: 0 0 $border-radius-tablet-3xl $border-radius-tablet-3xl;
  }
}

.feedback-section__title {
  margin-bottom: 29px;
  text-align: center;
  display: grid;
  gap: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    gap: 59px;
  }
}

.feedback-section__heading {
  color: var(--color-feedback-section-heading);
  font: var(--font-feedback-section-heading);
}

.feedback-section__registration {
  color: var(--color-feedback-section-registration);
  font: var(--font-feedback-section-registration);
  line-height: 22px;

  @media (min-width: $tablet-width) {
    line-height: 32px;
  }
}

.mobile-break {

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.feedback-section__link {
  color: var(--color-feedback-section-link);
  text-decoration: underline;
  transition: color $transition-duration;

  &:hover {
    color: var(--color-feedback-section-link-hover);
  }

  &:active {
    color: var(--color-feedback-section-link-active);
  }
}

.feedback-section__form {
  margin-bottom: 29px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.feedback-section__label {
  display: none;
}

.feedback-section__button {
  margin-left: -10px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.feedback-section__questions {
  margin-bottom: 17px;
  text-align: center;
  color: var(--color-feedback-section-questions-text);
  font: var(--font-feedback-section-questions);
  line-height: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    line-height: 30px;
  }
}

.feedback-section__contacts {
  display: grid;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    justify-content: start;
  }
}
