@use "../variables" as *;

.location-section {
  margin-top: var(--section-margin-top-negative);
  padding-top: 61px;
  padding-bottom: 35px;
  position: relative;
  background-color: var(--color-location-section-background);
  border-radius: 0 0 $border-radius-3xl $border-radius-3xl;
  z-index: $z-index-low;
}

.location-section__wrapper {
  display: grid;
  gap: 32px;
}

.location-section__title {
  display: flex;
  gap: 16px;
  align-items: center;
}

.location-section__icon {
  padding: 12px 12px;
  color: var(--color-location-section-icon);
  background-color: var(--color-location-section-icon-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-section__address {
  margin-right: 66px;
  color: var(--color-location-section-address-text);
  font: var(--font-location-section-address);
  line-height: 22px;
  text-transform: uppercase;
}

.location-section__button {
  text-align: center;
}
