@use "../variables" as *;

.rate-section {
  margin-top: var(--section-margin-top-negative);
  padding-top: 67px;
  padding-bottom: 38px;
  background-color: var(--color-rate-section-background);
  border-radius: 0 0 $border-radius-3xl $border-radius-3xl;
  position: relative;
  z-index: $z-index-low-3;

  @media (min-width: $tablet-width) {
    padding-top: 134px;
    padding-bottom: 45px;
    border-radius: 0 0 $border-radius-tablet-3xl $border-radius-tablet-3xl;
  }

  @media (min-width: $desktop-width) {
    padding-top: 167px;
    padding-bottom: 165px;
  }
}

.rate-section__container {
  padding-left: 25px;
  display: grid;
  gap: 31px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    gap: 0;
  }
}

.rate-section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 131px;
    position: relative;
  }
}

.rate-section__heading {
  color: var(--color-rate-section-heading);
  font: var(--font-rate-section-heading);
}

.rate-section__image {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    bottom: -333px;
    right: 100px;
  }
}

.rate-section__list {
  padding-right: 45px;
  display: grid;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    padding-right: 35px;
    padding-left: 90px;
    position: relative;

    &::after {
      --rate-section-price-before-width: 198px;
      --rate-section-price-before-height: 285px;
      content: "";
      position: absolute;
      top: -36px;
      right: 0;
      background-color: var(--color-rate-section-price-before-tablet);
      border-radius: $border-radius-xl;
      width: var(--rate-section-price-before-width);
      height: var(--rate-section-price-before-height);
      z-index: $z-index-negative;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
    margin-right: 365px;
    padding: 0 0 0 161px;

    &::after {
      --rate-section-price-before-width: 446px;
      --rate-section-price-before-height: 300px;
      top: -51px;
      right: -161px;
    }
  }
}

.rate-section__item {
  padding: 13px 0;
  position: relative;
  border-top: 1px solid var(--color-rate-section-item-border);
  border-bottom: 1px solid var(--color-rate-section-item-border);
  display: grid;
  gap: 6px;

  &::before {
    --rate-section-item-size: 34px;
    content: "2";
    position: absolute;
    top: 0;
    right: -45px;
    background-color: var(--color-rate-section-item-before-background-2);
    font: var(--font-rate-section-item-before-text);
    line-height: 16px;
    color: var(--color-rate-section-item-before-text);
    border-radius: 50%;
    width: var(--rate-section-item-size);
    height: var(--rate-section-item-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:first-child::before {
    content: "1";
    background-color: var(--color-rate-section-item-before-background-1);
  }

  &:last-child::before {
    content: "3";
    background-color: var(--color-rate-section-item-before-background-3);
  }

  @media (min-width: $tablet-width) {
    padding: 19.5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      --rate-section-item-size: 68px;
      top: 0;
      left: -90px;
      line-height: 28px;
    }
  }
}

.rate-section__name {
  color: var(--color-rate-section-name);
  font: var(--font-rate-section-name);
  line-height: 16px;

  @media (min-width: $tablet-width) {
    line-height: 28px;
  }
}

.rate-section__price {
  color: var(--color-rate-section-price);
  font: var(--font-rate-section-price);
  line-height: 16px;

  @media (min-width: $tablet-width) {
    line-height: 28px;
  }
}

.rate-section__modal {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    padding-right: 45px;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 161px;
    text-align: start;
  }
}

.rate-section__button {
  padding: 0;
  border: none;
  background: none;
  font: var(--font-rate-section-button);
  line-height: 16px;
  color: var(--color-rate-section-button-text);
  cursor: pointer;
  transition: color $transition-duration;

  &:hover {
    color: var(--color-rate-section-button-text-hover);
  }

  &:active {
    color: var(--color-rate-section-button-text-active);
  }

  @media (min-width: $tablet-width) {
    line-height: 20px;

    &::before {
      --rate-section-button-before-size: 68px;
      content: "";
      position: absolute;
      top: 16px;
      left: 0;
      background-color: var(--color-rate-section-button-icon-background);
      border-radius: 50%;
      width: var(--rate-section-button-before-size);
      height: var(--rate-section-button-before-size);
      cursor: pointer;
    }
  }

  @media (min-width: $desktop-width) {

    &::before {
      top: -26px;
      left: 71px;
    }
  }
}

.rate-section__button-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 35px;
    left: 21px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
    left: 92px;
  }
}

.rate-section__button-image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
