@use "../variables" as *;

.footnote {
  padding-top: 14px;
  border-top: 1px solid var(--color-footer-footnote-border);
}

.footnote__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .footnote__text,
  &:hover .footnote__logo {
    opacity: 0.6;
  }

  &:active .footnote__text,
  &:active .footnote__logo {
    opacity: 0.3;
  }
}

.footnote__text {
  font: var(--font-footnote__text);
  line-height: 16px;
  color: var(--color-footer-footnote__text);
  transition: opacity $transition-duration;
}

.footnote__logo {
  color: var(--color-footer-footnote__logo);
  transition: opacity $transition-duration;
}
