@use "../variables" as *;

.footnote {
  padding-top: 14px;
  border-top: 1px solid var(--color-footer-footnote-border);
}

.footnote-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .footnote-text,
  &:hover .footnote-logo {
    opacity: 0.6;
  }

  &:active .footnote-text,
  &:active .footnote-logo {
    opacity: 0.3;
  }
}

.footnote-text {
  font: var(--font-footnote-text);
  line-height: 16px;
  color: var(--color-footer-footnote-text);
  transition: opacity $transition-duration;
}

.footnote-logo {
  color: var(--color-footer-footnote-logo);
  transition: opacity $transition-duration;
}
