@use "../variables" as *;

.footnote {
  padding-top: 14px;
  border-top: 1px solid var(--color-footer-footnote-border);

  @media (min-width: $tablet-width) {
    padding-top: 0;
    border-top: none;
  }
}

.footnote__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    align-items: start;
    justify-content: end;
    gap: 23px;
  }

  &:hover .footnote__text,
  &:hover .footnote__logo {
    opacity: 0.6;
  }

  &:active .footnote__text,
  &:active .footnote__logo {
    opacity: 0.3;
  }
}

.footnote__text {
  font: var(--font-footnote-text);
  line-height: 16px;
  color: var(--color-footer-footnote-text);
  transition: opacity $transition-duration;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    line-height: 20px;
  }
}

.footnote__logo {
  color: var(--color-footer-footnote-logo);
  transition: opacity $transition-duration;
}
