@use "../variables" as *;

.page-footer {
  position: relative;
  background-color: var(--color-footer-background);
  border-radius: $border-radius-3xl $border-radius-3xl 0 0;
  z-index: $z-index-low;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__socials {
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
