@use "../../variables" as *;

.main-section__heading {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  font: var(--font-main-section-heading);
  color: var(--color-main-section-heading-text);
}
