@use "../variables" as *;

.page-header {
  background-color: var(--color-page-header-background);
  z-index: $z-index-md;
  transition: all $transition-duration ease-in-out;

  &.-scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-page-header-scrolled-background);

    .header__logo-default {
      display: none; // Скрываем светлый логотип
    }

    .header__logo-scrolled {
      display: block; // Показываем темный логотип
    }

    .toggle {
      color: var(--color-scroll-toggle); // Меняем цвет бургера
    }
  }
}

.header__logo-scrolled {
  display: none;
}

.header-tablet__logo-default {
  display: none;
}

.header-tablet__logo-scrolled {
  display: none;
}

.header-nav {
  position: relative;
  width: auto;
}

.header-toggle {
  color: var(--color-header-toggle);
}

.mobile-toggle {
  color: var(--color-mobile-toggle);
}

.header__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: $color-blue-dark-6;

    &.-scrolled {

      .header__logo-scrolled {
        display: none;
      }

      .header-tablet__logo-default {
        display: none;
      }

      .header-tablet__logo-scrolled {
        display: block;
      }
    }
  }

  .header-nav {
    //justify-self: center;
    //margin: 0 auto;
    //position: absolute;
    //transform: translateX(-50%);
  }

  .header__logo-default {
    display: none;
  }

  .header-tablet__logo-default {
    display: block;
  }

  .header__button {
    display: block;
  }
}
