@use "../variables" as *;

.page-header {
  background-color: var(--color-page-header-background);
  z-index: $z-index-md;
  transition: all $transition-duration ease-in-out;

  &.-scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-page-header-scrolled-background);
    z-index: $z-index-lg;

    .header__logo-default {
      display: none; // Скрываем светлый логотип
    }

    .header__logo-scrolled {
      display: block; // Показываем темный логотип
    }

    .toggle {
      color: var(--color-scroll-toggle); // Меняем цвет бургера
    }
  }
}

.header__logo {

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.header__logo-scrolled {
  display: none;
}

.header__nav {
  position: relative;
  width: auto;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
  }
}

.header__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header-toggle {
  color: var(--color-header-toggle);
}

.mobile-toggle {
  color: var(--color-mobile-toggle);
}

.header__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    display: flex;
  }
}

.header__button-contacts {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}
