@use "../../variables" as *;

.location-section {
  margin-top: -30px;
  padding-top: 61px;
  padding-bottom: 35px;
  background-color: var(--color-location-section-background);
  border-radius: 0 0 $border-radius-3xl $border-radius-3xl;
}
