@use "../../variables" as *;

.country__image {
  //background-color: $color-grey-dark;
  //background-image: url("../images/image/thailand-mobile-1.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  //border-radius: $border-radius-large $border-radius-large 0 0;
  margin-bottom: -11px;
  width: 100%;
  height: auto;
  display: block;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    //position: absolute;
    //top: 0;
    //right: 0;
    width: 186px;
  }
}

.country__body {
  padding: 0 24px 24px 25px;
  background-color: var(--color-country-body-background);
  border-radius: $border-radius-large;
  display: grid;
  gap: 5px;

  @media (min-width: $tablet-width) {
    padding: 30px 0 20px 27px;
    width: 100%;
    border-radius: $border-radius-xl 0 0 $border-radius-xl;
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 0 21px 28px;
  }
}

.country__flag {
  margin-top: -13px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    position: absolute;
    top: 17px;
    right: 150px;
  }
}

.country__title {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 61px;
  row-gap: 2px;

  @media (min-width: $tablet-width) {
    grid-template-rows: none;
    grid-template-columns: none;
    gap: 5px;
  }

  @media (min-width: $desktop-width) {
    gap: 4px;
  }
}

.country__heading {
  color: var(--color-country-heading-text);
  font: var(--font-country-heading);
}

.country__subheading {
  color: var(--color-country-subheading-text);
  font: var(--font-country-subheading);
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    grid-column: initial;
    grid-row: initial;
  }
}

.country__paragraph {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.country__users {
  display: flex;
  align-self: start;
  align-items: center;
  gap: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}

.country__users-text {
  color: var(--color-country-users-text);
  font: var(--font-country-users);
  line-height: 20px;
}

.country__users-icon {
  --country-users-icon-size: 24px;
  width: var(--country-users-icon-size);
  height: var(--country-users-icon-size);
}
