@use "../../variables" as *;

.direction-section {
  margin-top: var(--section-margin-top-negative);
  padding-top: 101px;
  padding-bottom: 34px;
  background-color: var(--color-direction-section-background);
  border-radius: 0 0 $border-radius-3xl $border-radius-3xl;
  position: relative;
  z-index: $z-index-low-5;

  @media (min-width: $tablet-width) {
    padding-top: 133px;
    padding-bottom: 80px;
    border-radius: 0 0 $border-radius-tablet-3xl $border-radius-tablet-3xl;

    &::before {
      content: "";
      position: absolute;
      top: 120px;
      right: 40px;
      background-image: url("../images/background/direction-section-flags-background.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 278px;
      height: 574px;
      z-index: $z-index-negative;
    }
  }
}

.direction-section__wrapper {
  display: grid;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.direction-section__title {
  margin-bottom: 60px;
  padding-left: 24px;
  display: grid;
  gap: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 104px;
    padding-left: 0;
    position: relative;
    gap: 57px;
  }
}

.direction-section__heading {
  color: var(--color-direction-section-heading);
  font: var(--font-direction-section-heading);
}

.direction-section__description {
  color: var(--color-direction-section-description);
  font: var(--font-direction-section-description);
  line-height: 22px;

  @media (min-width: $tablet-width) {
    line-height: 33px;
  }
}

.direction-section__countries {
  margin-bottom: 27px;
  display: grid;
  gap: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    position: relative;
    gap: 10px;

    &::before {
      --direction-section-countries-before-size: 141px;
      content: "";
      position: absolute;
      top: -38px;
      left: -35px;
      background-color: var(--color-tablet-direction-section-countries-before);
      border-radius: $border-radius-xl;
      width: var(--direction-section-countries-before-size);
      height: var(--direction-section-countries-before-size);
      z-index: $z-index-negative;
    }
  }
}

.direction-section__country {
  display: grid;
  border-radius: $border-radius-large;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    border-radius: $border-radius-xl;
  }
}

.direction-section__button {
  text-align: center;
}
