@use "../../variables" as *;

.calendar {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.calendar__header {
  margin-bottom: 22px;
  padding: 0;
  border-top: 1px solid var(--color-calendar-header-border);
  border-bottom: 1px solid var(--color-calendar-header-border);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.calendar__month-year {
  color: var(--color-calendar-month-year);
  font: var(--font-calendar-month-year);
}

.calendar__button {
  padding: 9px 0 8px 0;
  color: var(--color-calendar-button);
  background: none;
  border: none;
  transition: transform $transition-duration, color $transition-duration;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 21px 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0;
  }

  &:hover {
    color: var(--color-calendar-button-hover);
  }

  &:active {
    color: var(--color-calendar-button-active);
    transform: scale(0.8);
    border: none;
  }
}

.calendar__prev svg {

  @media (min-width: $tablet-width) {
    --calendar-prev-width: 29px;
    --calendar-prev-height: 40px;
    width: var(--calendar-prev-width);
    height: var(--calendar-prev-height);
  }

  @media (min-width: $desktop-width) {
    --calendar-prev-width: 24px;
    --calendar-prev-height: 35px;
  }
}

.calendar__next svg {

  @media (min-width: $tablet-width) {
    --calendar-next-width: 29px;
    --calendar-next-height: 40px;
    width: var(--calendar-next-width);
    height: var(--calendar-next-height);
  }

  @media (min-width: $desktop-width) {
    --calendar-next-width: 24px;
    --calendar-next-height: 35px;
  }
}

.calendar__week,
.calendar__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  text-align: center;
}

.calendar__week {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    text-align: start;
  }
}

.calendar__week-day {
  color: var(--color-calendar-week-day);
  font: var(--font-calendar-week-days);

  @media (max-width: $mobile-max-width) {
    font-size: 0;

    &::before {
      content: attr(data-short);
      font: var(--font-calendar-week-days-before);
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 16px;
  }

  &.-weekend {
    color: var(--color-calendar-week-day-weekend);
  }
}

.calendar__day {
  padding: 6px;
  color: var(--color-calendar-day);
  background-color: var(--color-calendar-day-background);
  border: 1px solid var(--color-calendar-day-border);
  font: var(--font-calendar-day);
  transition: background-color $transition-duration, color $transition-duration, box-shadow $transition-duration, font-weight $transition-duration;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 25px;
  }

  @media (min-width: $desktop-width) {
    --calendar-day-width: 142px;
    --calendar-day-height: 71px;
    padding: 13px 0 0 15px;
    min-width: var(--calendar-day-width);
    min-height: var(--calendar-day-height);
    text-align: start;
  }

  &.-disabled {
    color: var(--color-calendar-day-disabled);
    background-color: var(--color-calendar-day-disabled-background);
    font-weight: 400;
    cursor: default;

    @media (min-width: $tablet-width) {
      font: var(--font-calendar-day-disabled);
    }

    &:hover {
      color: var(--color-calendar-day-disabled);
      background-color: var(--color-calendar-day-disabled-background);
      box-shadow: none;
    }
  }

  &:hover {
    color: var(--color-calendar-day-hover);
    background-color: var(--color-calendar-day-background-hover);
    box-shadow: inset 0 0 0 4px var(--color-calendar-day-box-shadow-hover);
  }

  &.-chosen {
    color: var(--color-calendar-day-chosen);
    background-color: var(--color-calendar-day-chosen-background);
  }
}
