@use "../../variables" as *;

.country-menu {
  background: var(--color-country-menu-background);
  border-radius: $border-radius-medium;
  box-shadow: 0 4px 10px var(--color-country-menu-box-shadow);

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 489px 1fr;
  }
}

.country-menu__header {
  padding: 13px 17px;
  background-color: var(--color-country-menu-header-background);
  border-radius: $border-radius-medium $border-radius-medium 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 24px 24.5px 24px 24.5px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}

.country-menu__heading {
  color: var(--color-country-menu-heading);
  font: var(--font-country-menu-heading);
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.1em;
  }
}

.country-menu__button {
  padding: 0;
  color: var(--color-country-menu-button);
  background: none;
  border: none;
  height: var(--country-menu-button-size);
  transition: color $transition-duration;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    --country-menu-button-size: 22px;
  }

  &:hover {
    color: var(--color-country-menu-button-hover);
  }

  &:active {
    color: var(--color-country-menu-button-active);
  }
}

.country-menu__button svg {
  width: var(--country-menu-button-svg-size);
  height: var(--country-menu-button-svg-size);

  @media (min-width: $tablet-width) {
    --country-menu-button-svg-size: 22px;
  }
}

.country-menu__alphabet {
  border-right: 0.5px solid var(--color-country-menu-alphabet-border);
  border-left: 0.5px solid var(--color-country-menu-alphabet-border);
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @media (min-width: $tablet-width) {
    padding: 35px 79.5px 33px 27px;
    border-radius: 0 0 0 $border-radius-medium;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 102px 36px 26px;
    max-height: 476px;
    gap: 15px;
  }
}

.country-menu__letter {
  padding: 12px 0 12px 0;
  color: var(--color-country-menu-letter);
  background-color: var(--color-country-menu-letter-background);
  font: var(--font-country-menu-letter);
  border: 0.5px solid var(--color-country-menu-letter-border);
  transition: color $transition-duration, background-color $transition-duration, border-color $transition-duration;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 25px 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: $border-radius-medium;
  }

  &:hover {
    border-color: var(--color-country-menu-letter-border-hover);
  }

  &:focus {
    color: var(--color-country-menu-letter-focus);
    background-color: var(--color-country-menu-letter-background-focus);
  }
}

.country-menu__grid {
  padding: 20px;
  background-color: var(--color-country-menu-grid-background);
  border: 1px solid var(--color-country-menu-grid-border);
  border-top-width: 0.5px;
  border-radius: 0 0 $border-radius-medium $border-radius-medium;
  max-height: 317px;
  display: grid;
  grid-auto-rows: min-content;
  gap: 4px;
  overflow-y: auto;

  @media (min-width: $tablet-width) {
    //position: absolute;
    //top: 70px;
    //right: 0;
    border: none;
    border-radius: 0 0 $border-radius-medium 0;
    max-height: 420px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    max-height: 476px;
  }
}

.country-menu__countries {
  text-align: start;
  background: none;
  border: none;
  color: var(--color-country-menu-countries);
  font: var(--font-country-menu-countries);
  transition: color $transition-duration;
  cursor: pointer;

  &:hover {
    color: var(--color-country-menu-countries-hover);
  }

  &:active {
    color: var(--color-country-menu-countries-active);
  }
}
