@use "../../variables" as *;

.step__title {
  margin-bottom: 20px;
  display: grid;
  gap: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    gap: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    grid-template-columns: 582px min-content;
    justify-content: space-between;
    grid-template-rows: min-content min-content;
    row-gap: 33px;
    column-gap: 191px;
  }
}

.step__heading {
  color: var(--color-step-heading);
  font: var(--font-step-heading);

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 1;
  }
}

.step__heading-break {

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.step__description {
  color: var(--color-step-description);
  font: var(--font-step-description);

  @media (min-width: $desktop-width) {
    grid-row: 2;
    grid-column: 1;
  }
}

.step__nav {
  display: none;

  .plan-section__step:first-child & {
    position: absolute;
    top: -44px;
    right: 0;
    display: flex;
    gap: 16px;
  }

  @media (min-width: $tablet-width) {

    .plan-section__step:first-child & {
      top: -79px;
      gap: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 44px;
    position: static;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 20px;
    grid-row: 1 / 3;
    grid-column: 2;

    .plan-section__step:first-child & {
      position: static;
      display: grid;
      gap: 20px;
    }
  }
}

.step__nav-item {
  display: flex;
  align-items: center;
  gap: 36px;

  &.-selected .step__nav-point {
    background-color: var(--color-plan-section-point-background-selected);
  }

  &.-selected .step__nav-name {
    color: var(--color-step-nav-name-selected);
  }
}

.step__nav-point {
  --plan-section-point-size: 5px;
  background-color: var(--color-plan-section-point-background);
  border-radius: 50%;
  width: var(--plan-section-point-size);
  height: var(--plan-section-point-size);
  transition: background-color $transition-duration;

  @media (min-width: $tablet-width) {
    --plan-section-point-size: 6px;
  }
}

.step__nav-name {
  display: none;
  font: var(--font-step-nav-name);
  color: var(--color-step-nav-name);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color $transition-duration;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.step__form {
  display: grid;
  grid-template-rows: repeat(5, min-content);
}

.step__form-body {
  margin-bottom: 24px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
    padding-top: 30px;
    border-top: 1px solid var(--color-step-form-wrapper-border);
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
    justify-content: space-between;
    align-items: center;
    row-gap: 14px;
    column-gap: 0;
  }
}

.step__form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  justify-content: space-between;
  row-gap: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    border-top: 1px solid var(--color-step-form-wrapper-border);
    row-gap: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    border-top: none;
    grid-template-columns: 221px 1fr 1fr;
    grid-template-rows: min-content;
    justify-content: start;
    align-items: center;
    row-gap: 0;
    column-gap: 0;

    &.-companions {
      grid-row: 1;
      grid-column: 1;
    }

    &.-duration {
      grid-row: 2;
      grid-column: 1;
    }
  }
}

.step__form-description {
  color: var(--color-step-form-description);
  font: var(--font-step-form-description);
  letter-spacing: 0.09em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0;
  }
}

.step__form-label {
  color: var(--color-step-form-label);
  font: var(--font-step-form-label);
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
    opacity: 1;
    letter-spacing: 0;
    grid-column: 3;
  }
}

.step__input {
  grid-column: 1 / 3;
  background-color: var(--color-step-input-background);
  box-shadow: inset 0 0 0 1px var(--color-step-input-box-shadow);
  border-radius: $border-radius-medium;
  display: grid;
  grid-template-columns: 42px 1fr 42px;
  transition: color $transition-duration, box-shadow $transition-duration, fill $transition-duration;

  @media (min-width: $tablet-width) {
    grid-template-columns: 66px 1fr 66px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 60px);
    grid-row: 1;
    grid-column: 2;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--color-step-input-box-shadow-hover);
  }

  &:hover .input__number-button svg {
    color: var(--color-input-number-button-svg-hover);
  }

  &:focus-within {
    box-shadow: inset 0 0 0 1px var(--color-step-input-box-shadow-focus);
  }

  &:focus-within .input__number {
    color: var(--color-input-number-focus);
  }

  &:focus-within .input__number-button svg {
    color: var(--color-input-number-button-svg-focus);
  }
}

.step__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 22px;
    grid-row: 2;
  }

  @media (min-width: $desktop-width) {
    gap: 22px;
    grid-row: 1;
    grid-column: 2;
  }
}

.step__checkbox-input {
  --step-checkbox-input-size: 26px;
  margin: 0;
  appearance: none;
  background-color: var(--color-step-checkbox-input-background);
  border: 1px solid var(--color-step-checkbox-input-border);
  border-radius: $border-radius-medium;
  width: var(--step-checkbox-input-size);
  height: var(--step-checkbox-input-size);
  transition: background-color 0.2s, border-color 0.2s;

  @media (min-width: $tablet-width) {
    --step-checkbox-input-size: 36px;
  }

  &:checked + .step__checkbox-icon {
    display: block;
  }

  &:hover {
    border-color: var(--color-step-checkbox-input-border-hover);
  }

  &:active {
    background-color: var(--color-step-checkbox-input-background-active);
    border: none;
  }

  &:active + .step__checkbox-icon {
    color: var(--color-step-checkbox-icon-active);
  }
}

.step__checkbox-icon {
  --step-checkbox-icon-width: 14px;
  --step-checkbox-icon-height: 13px;
  display: none;
  position: absolute;
  top: 6px;
  left: 6px;
  color: var(--color-step-checkbox-icon);
  width: var(--step-checkbox-icon-width);
  height: var(--step-checkbox-icon-height);
  transition: color $transition-duration;
  pointer-events: none;

  @media (min-width: $tablet-width) {
    --step-checkbox-icon-width: 18px;
    --step-checkbox-icon-height: 17px;
    top: 9px;
    left: 9px;
  }
}

.step__checkbox-label {
  color: var(--color-step-checkbox-label);
  font: var(--font-step-checkbox-label);

  @media (min-width: $tablet-width) {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.step__footer {

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.step__button {
  margin-bottom: 13px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.step__button-back {
  margin-bottom: 6px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.step__countries {
  margin-bottom: 25px;
  display: grid;
  gap: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-top: 42px;
    border-top: 1px solid var(--color-step-countries-border);
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    padding-top: 62px;
  }
}

.step__country {
  --step-country-height: 42px;
  position: relative;
  height: var(--step-country-height);
  display: flex;

  @media (min-width: $tablet-width) {
    --step-country-height: 70px;
    padding-right: 163px;
    gap: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 267px;
    gap: 85px;
  }

  &:hover .step__country-select {
    border-color: var(--color-step-country-select-border-hover);
  }

  &::before {
    --step-country-before-size: 8px;
    content: "";
    position: absolute;
    bottom: 17px;
    right: 50.5px;
    background-color: var(--color-step-country-before-background);
    box-shadow: inset 0 0 0 1px var(--color-step-country-before-box-shadow);
    border-radius: 50%;
    width: var(--step-country-before-size);
    height: var(--step-country-before-size);
    z-index: $z-index-low-2;

    @media (min-width: $tablet-width) {
      --step-country-before-size: 14px;
      bottom: 28px;
      right: 130px;
    }

    @media (min-width: $desktop-width) {
      right: 215px;
    }
  }

  &::after {

    @media (min-width: $tablet-width) {
      --step-country-after-width: 1px;
      --step-country-after-height: 154px;
      content: "";
      position: absolute;
      top: -42px;
      right: 136px;
      background-image: var(--color-step-country-after-background);
      width: var(--step-country-after-width);
      height: var(--step-country-after-height);
    }

    @media (min-width: $desktop-width) {
      --step-country-after-height: 267px;
      top: -62px;
      right: 221.5px;
      background-image: none;
      background-color: var(--color-step-country-after-background);
    }
  }


  &.-active {

    @media (min-width: $tablet-width) {
      padding-right: 41px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 112px;
    }

    &::before {
      background-color: var(--color-step-country-before-active-background);
      box-shadow: none;
    }
  }

  &.-choose {

    &::before {
      background-color: var(--color-step-country-before-choose-background);
    }
  }
}

.step__country-select {
  padding: 5px 0 5px 10px;
  position: relative;
  background-color: var(--color-step-country-select-background);
  border: 1px solid var(--color-step-country-select-border);
  border-radius: $border-radius-medium;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  transition: border-color $transition-duration, background-color $transition-duration, color $transition-duration;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &.-add {
    background-color: var(--color-step-country-select-add-background);
    border: none;

    &:hover {
      background-color: var(--color-step-country-select-add-background-hover);
    }

    &:hover .step__button-add svg {
      color: var(--color-step-button-add-svg-hover);
    }

    &:active .step__button-add svg {
      color: var(--color-step-button-add-svg-active);
    }
  }
}

.step__country-name {
  position: absolute;
  top: 13px;
  left: 10px;
  color: var(--color-step-country-name);
  font: var(--font-step-country-name);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: $tablet-width) {
    top: 25px;
    left: 25px;
  }
}

.step__button-dropdown {
  padding: 10px 11px 6px 30px;
  background: var(--color-step-button-dropdown-background);
  border: none;
  border-radius: $border-radius-medium;
  z-index: $z-index-low;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 25px 27px 19px 27px;
  }
}

.step__button-dropdown svg {
  color: var(--color-step-button-dropdown-svg);
  transform: rotate(-90deg);
  width: var(--step--button-dropdown-svg-width);
  height: var(--step--button-dropdown-svg-height);

  @media (min-width: $tablet-width) {
    --step--button-dropdown-svg-width: 15px;
    --step--button-dropdown-svg-height: 21px;
  }
}

.step__country-flag {
  margin-left: -1px;
  padding: 0 9px;
  background-color: var(--color-step-button-flag-background);
  border: 1px solid var(--color-step-button-flag-border);
  border-radius: $border-radius-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-index-low;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding: 0;
    border: none;
  }
}

.step__country-flag img {
  --step-country-flag-img-width: 35px;
  --step-country-flag-img-height: 24px;
  width: var(--step-country-flag-img-width);
  height: var(--step-country-flag-img-height);

  @media (min-width: $tablet-width) {
    --step-country-flag-img-width: 70px;
    --step-country-flag-img-height: 47px;
  }
}

.step__button-close {
  --step-button-close-size: 21px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-step-button-close-background);
  border: none;
  border-radius: 50%;
  width: var(--step-button-close-size);
  height: var(--step-button-close-size);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-index-low;

  @media (min-width: $tablet-width) {
    --step-button-close-size: 22px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    top: 24px;
    right: -2px;
  }
}

.step__button-close svg {
  color: var(--color-step-button-close-svg);
  width: var(--step-button-close-svg-size);
  height: var(--step-button-close-svg-size);

  @media (min-width: $tablet-width) {
    --step-button-close-svg-size: 22px;
    opacity: 0.3;
  }
}

.step__button-add {
  padding: 13px 13px 9px 14px;
  background: none;
  border: none;

  @media (min-width: $tablet-width) {
  padding: 3px 26px 0 26px;
  }
}

.step__button-add svg {
  color: var(--color-step-button-add-svg);
  width: var(--step-button-add-svg-size);
  height: var(--step-button-add-svg-size);
  transition: border-color $transition-duration, background-color $transition-duration, color $transition-duration;

  @media (min-width: $tablet-width) {
    --step-button-add-svg-size: 20px;
  }
}

.step__plans {
  margin-bottom: 22px;
  display: grid;
  gap: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    padding-top: 27px;
    padding-right: 30px;
    border-top: 1px solid var(--color-step-plans-border);
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    padding-top: 75px;
    padding-right: 113px;
    gap: 47px;
  }
}

.step__plans-form {
  position: relative;
  display: grid;
  gap: 12px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 25px;
  }

  &::before {
    --step-plans-form-before-width: 12px;
    --step-plans-form-before-height: 283px;
    content: "";
    position: absolute;
    top: -271px;
    left: -14px;
    border-left: 2px solid var(--color-step-plans-form-before);
    border-top: 2px solid var(--color-step-plans-form-before);
    border-bottom: 2px solid var(--color-step-plans-form-before);
    border-right: none;
    width: var(--step-plans-form-before-width);
    height: var(--step-plans-form-before-height);

    @media (min-width: $tablet-width) {
      --step-plans-form-before-width: 2px;
      --step-plans-form-before-height: 256px;
      top: -235px;
      left: unset;
      right: -27px;
      background-color: var(--color-step-plans-form-before);
      border: none;
    }

    @media (min-width: $desktop-width) {
      top: -236px;
      right: 110px;
    }
  }

  &:nth-child(1)::before {
    content: none;
  }
}

.step__plans-title {
  padding-left: 11px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  &::before {
    --step-plans-title-before-width: 6px;
    --step-plans-title-before-height: 6px;
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;
    background-color: var(--color-step-plans-title-before);
    border-radius: 50%;
    width: var(--step-plans-title-before-width);
    height: var(--step-plans-title-before-height);

    @media (min-width: $tablet-width) {
      --step-plans-title-before-width: 14px;
      --step-plans-title-before-height: 14px;
      top: 18px;
      left: unset;
      right: -33px;
    }

    @media (min-width: $desktop-width) {
      top: 16px;
      right: 104px;
    }
  }
}

.step__plans-name {
  color: var(--color-step-plans-name);
  font: var(--font-step-plans-name);
}

.step__plans-flag {
  --step-plans-flag-height: 24px;
  position: relative;
  height: var(--step-plans-flag-height);
  z-index: $z-index-low;

  @media (min-width: $tablet-width) {
    --step-plans-flag-height: 47px;
  }

  &::after {
    --step-plans-title-after-width: 78px;
    --step-plans-title-after-height: 24px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-step-plans-title-after-background);
    width: var(--step-plans-title-after-width);
    height: var(--step-plans-title-after-height);
    z-index: $z-index-negative;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.step__plans-flag img {
  --step-plans-flag-img-width: 35px;
  --step-plans-flag-height: 24px;
  width: var(--step-plans-flag-img-width);
  height: var(--step-plans-flag-img-height);

  @media (min-width: $tablet-width) {
    --step-plans-flag-img-width: 70px;
    --step-plans-flag-height: 47px;
  }
}

.step__plans-wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-right: 155px;
  }
}

.step__plans-textarea {
  --step-plans-textarea-size: 220px;
  padding: 11px 14px;
  position: relative;
  color: var(--color-step-plans-textarea);
  border: 1px solid var(--color-step-plans-textarea-border);
  border-radius: $border-radius-medium;
  font: var(--font-step-plans-textarea);
  width: 100%;
  height: var(--step-plans-textarea-size);
  overflow-y: auto;
  transition: border-color $transition-duration;
  resize: none;

  @media (min-width: $tablet-width) {
    --step-plans-textarea-size: 142px;
    padding: 19px 18px;
  }

  @media (min-width: $desktop-width) {
    --step-plans-textarea-size: 142px;
    padding: 26px 25px;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:hover {
    border-color: var(--color-step-plans-textarea-border-hover);
  }

  &:focus {
    border-color: var(--color-step-plans-textarea-border-focus);

    &::placeholder {
      opacity: 1;
    }
  }

  &.-error {
    border-color: $color-red-light;
  }
}

.step__error-message {
  padding: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: $color-red;
  background-color: $color-red-light-2;
  font: var(--font-body-regular);
  width: 100%;
  display: none;
}
