@use "../../variables" as *;

.rate-section__button {
  margin-left: -28px;
  padding: 0;
  text-align: center;
  border: none;
  background: none;
  font: var(--font-rate-section-button);
  line-height: 16px;
  color: var(--color-rate-section-button-text);
  cursor: pointer;
  transition: color $transition-duration;

  &:hover {
    color: var(--color-rate-section-button-text-hover);
  }

  &:active {
    color: var(--color-rate-section-button-text-active);
  }
}
