@use "../../variables" as *;

.rate-section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;
}

.rate-section__image {
  display: block;
}

.rate-section__heading {
  color: var(--color-rate-section-heading);
  font: var(--font-rate-section-heading);
}
