.grid {
  display: grid;
}

.grid.-header {
  margin-top: 19px;
  margin-bottom: 19px;
  grid-template-columns: max-content min-content;
  justify-content: space-between;
  align-items: center;
}

.grid.-footer {
  margin-top: 37px;
  margin-bottom: 19px;
  grid-template-rows: min-content min-content max-content;
  text-align: center;
}
