@use "../../variables" as *;

.main-section {
  padding-top: 41px;
  //background-color: $color-blue-dark-2;
  position: relative;
  //width: 100%;
  //height: 100vh;
  //overflow: hidden;
  //position: relative;
  //background-image: url("../images/background/globe-back-mobile-1.png");
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  //top: 0;
  //min-width: 320px;
  //min-height: 569px; // или `height: 100vh;` если нужен экранный размер

  &::before {
    content: '';
    position: absolute;
    background-image: url("../images/background/globe-back-mobile-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -54px;
    left: 0;
    width: 100vw;
    height: 569px;
    z-index: $z-index-negative;
  }
}

.main-section__heading {
  --main-section-heading-width: 238px;
  margin-bottom: 245px;
  margin-left: auto;
  margin-right: auto;
  width: var(--main-section-heading-width);
  position: relative;
  text-align: center;
  font: var(--font-main-section-heading);
  color: var(--color-main-section-heading-text);

  &::before {
    --main-section-heading-before-width: 192px;
    --main-section-heading-before-height: 255px;
    content: '';
    position: absolute;
    background-image: url("../images/background/traveller-illustration-mobile-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: -266px;
    //left: calc((50vw - 50%) + 55px);
    left: 39px;
    width: var(--main-section-heading-before-width);
    height: var(--main-section-heading-before-height);
    z-index: $z-index-negative;
  }
}

//.main-section__background {
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -1;
//  margin-top: -54px;
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//}

//.main-section__picture {
//  --main-section-picture-width: 270px;
//  --main-section-picture-height: 255px;
//  margin: auto;
//  width: var(--main-section-picture-width);
//  height: var(--main-section-picture-height);
//  position: relative;
//  display: block;
//}
//
//.main-section__image {
//  position: absolute;
//  top: 0;
//  left: 54px;
//  z-index: -1;
//}

.main-section__button {
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  margin-top: -20px;
  //margin-left: auto;
  //margin-right: auto;
  padding: 48px 0 109px 25px;
  position: relative;
  //max-width: 270px;
  display: grid;
  gap: 18px;
  align-items: start;
  justify-content: start;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    //left: calc(50% - 50vw);
    width: 100vw;
    height: 100%;
    background-color: var(--color-main-section-testimonials-before);
    z-index: $z-index-negative;
  }
}

.testimonial-text {
  font: var(--font-main-section-testimonial-text);
  line-height: 22px;
  color: var(--color-main-section-testimonials-text);
}

.testimonial-author {
  font: var(--font-main-section-testimonial-author);
  line-height: 22px;
  color: var(--color-main-section-testimonials-author-text);
}

.steps__list {
  display: grid;
}

.steps__item {
  margin-top: -80px;
  padding: 22px 21px 102px 24px;
  background-color: var(--color-main-section-steps-item-background);
  border-radius: 10px 10px 0 0;
  font: var(--font-main-section-steps-item);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  &:nth-child(2) {
    background-color: var(--color-main-section-steps-item-2-background);
  }

  &:nth-child(3) {
    padding-bottom: 76px;
    background-color: var(--color-main-section-steps-item-3-background);
  }

  &:nth-child(4) {
    margin-top: -60px;
    padding-bottom: 24px;
    border-radius: 10px;
    background-color: var(--color-main-section-steps-item-4-background);
  }
}

.steps__number {
  color: var(--color-main-section-steps-number);
}

.steps__text {
  color: var(--color-main-section-steps-text);
}
